.about{
    padding: 100px 0;
    display: grid;
    place-items: center;
}

.title-about{
    font-family: 'Arima', cursive;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}

.intro-about{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 700px;
}

.inline-one{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.inline-two{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.inline-three{
    padding: 0 10px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.moses-image{
    margin-top: 20px;
    width: 350px;
    height: 200px;
}

.jacob-image{
    margin-top: 35px;
    width: 350px;
    height: 200px;
}

.info-one{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.info-two{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.info-three{
    text-align: center;
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 500px;
}

.jewish-section{
    padding-top: 50px;
    display: grid;
    place-items: center;
}

.law,
.prophets,
.writings{
    padding: 10px;
    height: 250px;
    max-width: 370px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title-jewish{
    text-align: center;
    font-family: 'Arima', cursive;
    font-size: 35px;
}

.translate{
    text-align: center;
    font-family: 'Arima', cursive;
    font-size: 20px; 
}

.explain{
    text-align: center;
    font-family: 'Arima', cursive;
    font-size: 17px; 
}

.inline-four{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.moses-egypt-image{
    width: 350px;
    height: 200px;
}

.info-four{
    padding-top: 15px;
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.inline-five{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.image-adam-eve{
    width: 350px;
    height: 200px;
}

.info-five{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.inline-six{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.image-jesus{
    margin-top: 10px;
    width: 350px;
    height: 200px;
}

.info-six{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.inline-seven{
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.image-jesus-apostles{
    margin-top: 100px;
    width: 350px;
    height: 200px;
}

.info-seven{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 600px;
}

.title-one{
    padding-top: 50px;
    font-family: 'Arima', cursive;
    font-size: 20px;
    font-weight: 600;
}

.info-eight{
    font-family: 'Arima', cursive;
    font-size: 20px;
    max-width: 850px;
}

.inline-eight{
    font-family: 'Arima', cursive;
    padding: 0 10px;
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

.inline-eight div{
    padding: 10px;
    height: 220px;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title-two{
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.more-info-eight{
    font-size: 18px;
}