.navbar{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    z-index: 20;
}

.navbar ul{
    padding-top: 7px;
    display: flex;
    gap: 30px;   
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0,0,0);
}

.navbar ul li p{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: rgb(0,0,0);
    user-select: none;
    cursor: pointer;
}

.hamburger{
    display: none;
    padding-top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.navbar-list{
    display: none;
    place-items: center;
    position: fixed;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    top: 50px;
    right: 0;  
    width: 200px;
    height: 200px;
}

.navbar-title{
    padding-top: 7px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
}

.navbar-list ul{
    display: grid;
    place-items: center;
    gap: 10px;
}

.navbar-list ul li{
    list-style: none;
}

.navbar-list ul li a{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: rgb(0,0,0);
    text-decoration: none;
}

.navbar-list ul li p{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: rgb(0,0,0);
    user-select: none;
    cursor: pointer;
}


@media (max-width: 750px) {
    .navbar ul{
        display: none;
    }

    .hamburger{
        display: block;
        padding-right: 10px;
    }

    .navbar{
        justify-content: space-between;
    }

    .navbar-title{
        padding-left: 10px;
    }

    .navbar-list{
        display: grid;
    }
}